#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: rgb(32, 32, 32);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.title {
 text-align: center;
 font-size: 3.8em;
 color: #fefefe;
 margin-bottom: 1.2em;
 margin-top: 1.2em;
}

.primary-color {
 color:#f0a661;
}

.bigger {
 font-size: 150%;
}